<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script>
     var socket = io()
</script>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">JA</a>
  </div>
  <form class="navbar-form pull-right" role="search">
            <a href="/logout" class="btn btn-info">
                <span class="glyphicon glyphicon-log-out"></span> Cerrar
            </a>
          </form>
            <p class="navbar-text pull-right" >Bienvenido {{ datos.user.nombre}} {{datos.user.apellido}}</p>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
       <li>
         <a href="/">Inicio <span class="badge" id="messages"></span></a>
       </li>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/clientes/nuevo">Nuevo</a></li>
          <li><a href="/clientes/listar">Listar</a>
        </ul>
      </li>
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Unidades <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/unidades/nuevo">Nuevo</a></li>
         <li><a href="/unidades/listar">Listar</a>
         <li><a href="/unidades/stock">Stock</a></li>
         <li><a href="/unidades/historial">Historial</a></li>
       </ul>
     </li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Operaciones <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/senias/nueva">Crear Señas</a></li>
          <li><a href="/senias/listar">Listar Señas</a></li>
        </ul>
      </li>
      <li>
         <a href="/unidades/pendientes">Pendientes <span class="badge" id="pendientes"></span></a>
       </li>
       {{#if datos.user.habilitado}}
          <li>
            <a href="/unidades/retorno">Retorno Unidades</a>
          </li>
          <li>
            <a href="/unidades/ventas">Ventas</a>
          </li>
       {{/if}}

    </ul>
     <span style="display:none" id="socket" data-suc="{{ datos.user.sucursal }}" ></span>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<script>

    let suc = document.getElementById('socket').dataset.suc
    socket.emit('unir', suc)

  socket.on('devolver', function(msg) {
      let pend = document.getElementById('pendientes')
      let actual = parseInt(pend.innerHTML)
      if(!actual) { actual = 0}
      let total = actual + msg
      pend.innerHTML = (total > 0) ? total : ''
    })
</script>
