<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Julio Autom贸viles</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.1.0/superagent.min.js"></script>
  <style>
    @keyframes lds-bars {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
    }
    @-webkit-keyframes lds-bars {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
    }
    .lds-bars {
    position: relative;
    }
    .lds-bars div {
    position: absolute;
    width: 20px;
    height: 80px;
    top: 60px;
    -webkit-animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-bars 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
    .lds-bars div:nth-child(1) {
    left: 30px;
    background: #facd9e;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    }
    .lds-bars div:nth-child(2) {
    left: 70px;
    background: #389798;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    }
    .lds-bars div:nth-child(3) {
    left: 110px;
    background: #459448;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    }
    .lds-bars div:nth-child(4) {
    left: 150px;
    background: #f19d3b;
    }
    .lds-bars {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }
    .oculto {
      display: none;
    }

    .auto {
      height: 100vh;
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      padding-left: 8%;
      background: rgb(65,87,199);

    }

    .auto img {
      width: 100%;
      max-width: 450px;
    }

    .overlay {
      /* background: rgba(65,87,199, .6); */
      background: radial-gradient(circle farthest-corner at 20.5% 60%, transparent 110px, rgba(65,87,199,.7) 110px);
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template: .2fr 1fr .3fr / 67% 1fr;
      text-transform: uppercase;
      /* align-items: center; */
      grid-template-areas: "header header"
                           "imagenes titulo"
                           "imagenes titulo"
                           "footer footer";

    }

    .overlay h2 {
      grid-area: titulo;

      font-size: 6em;
      font-weight: 500;
      color: white;
      font-family: 'Prompt', sans-serif;

    }

    .overlay h2 strong {
      font-weight: 900;
    }

    .overlay h1 {
      font-size: 6em;
      color: white;
      font-family: 'Prompt', sans-serif;
      font-weight: bold;
    }



    .imagenes {
      background: rgb(65,87,199);
      grid-area: footer;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      align-items: center;
      /* justify-content: center; */
      text-align: center;
    }

    .imagenes img {
      width: 150px;
      justify-self: center;
    }

    .relleno {
      grid-area: imagenes;
      width: 100%;
    }

    @media screen and (max-width: 1532px) {
      .overlay h2 {
        font-size: 4em;
      }

      .imagenes img {
        width: 100px;
      }
    }

    @media screen and (max-width: 1018px) {
      .overlay h1 {
        font-size: 3em;
      }

      .imagenes img {
        width: 80px;
      }
    }

    @media screen and (max-width: 784px) {
      .overlay {
        height: 170vh;
        background: radial-gradient(circle farthest-corner at 35% 15%, transparent 110px, rgba(65,87,199,.7) 110px);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .overlay h2 {
        padding-top: 50%;
        height: 50vh;
        font-size: 3em;
        padding-left: 2%;
        /* width: 100%; */

      }

      .overlay h1 {
        position: absolute;
        top: 0;

      }

      .overlay .imagenes {

        align-self: space-between;
        width: 100%;
        display: grid;
        /* border: solid 1px; */
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        margin-bottom: -15px;
      }

      .auto {
        align-items: flex-start;
        p
      }

      .overlay h2 {
        align-self: center;

      }
    }

</style>
</head>
<body>


  <div class="wrapper" style="background: {{datos.color}}">

    {{> header }}
    {{#if datos.dolar}}
    <div class="dolar"><h4>Cotizaci贸n del d贸lar</h4>
      <table class="table table-responsive table-condensed table-bordered">
        <tr>
        <th>D贸lar</th>
        <th>Fecha</th>
        </tr>
        <tr>
        <td>{{datos.dolar.cotizacion}}</td>
        <td>{{datos.dolar.fecha}}</td>
        </tr>
      </table>
    </div>
    {{/if}}
    <div class="container" style="position: relative; margin-top:60px;">

      {{{ body }}}
    </div>
    <div class="push"></div>
  </div>
    {{> footer }}


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/app2.js"></script>
</body>
</html>
