<div class="row">
<div class="col col-sm-12">
<form class="form-inline" id="form-cli-listar">
      <div class="form-group">
      <label for="busquedau">Buscar</label>
      <input type="text" class="form-control" id="busquedac" name="busquedac">
    </div>
    
    <div class="form-group">
      <label for="criterio">Criterio de búsqueda</label>
        <select class="form-control" id="criterio" name="criterio">
          <option value="apellido">Apellido</option>
          <option value="documento">Cédula</option>
          <option value="celular">Celular</option>
          <option value="ciudad">Ciudad</option>
         
        </select>
        
        
      </div>
      <input type="submit" id="find-cliente" value="Buscar" class="btn btn-default">  
</form>
</div>

</div>

<p>&nbsp;</p>
<div id="resultado">

</div>
