<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" id="form-clientes" >
     <div class="form-group">
       <label for="nro" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="id" name="id" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="nombre" class="col-sm-2 control-label">Nombre</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nombre" name="nombre">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-2 control-label">Apellido</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="apellido" name="apellido">
       </div>
     </div>
     <div class="form-group">
       <label for="aclaraciones" class="col-sm-2 control-label">Aclaraciones</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="aclaraciones" name="aclaraciones">
       </div>
     </div>
     <div class="form-group">
       <label for="documento" class="col-sm-2 control-label">Documento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="documento" name="documento">
       </div>
     </div>
     <div class="form-group">
       <label for="domicilio" class="col-sm-2 control-label">Domicilio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="domicilio" name="domicilio">
       </div>
     </div>
     <div class="form-group">
       <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="telefono" name="telefono">
       </div>
     </div>
     <div class="form-group">
       <label for="celular" class="col-sm-2 control-label">Celular</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="celular" name="celular">
       </div>
     </div>
     <div class="form-group">
       <label for="ciudad" class="col-sm-2 control-label">Ciudad</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="ciudad" name="ciudad">
       </div>
     </div>
     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>
