
    <div class="auto">
    <img src="img/volcano_rojo.png" alt="">
  </div>
  <div class="overlay">

    <div class="relleno"></div>
    <h2>Gestionar <strong>tu Stock</strong> nunca fue <strong>tan facil</strong></h2>
    <h1>AUTOSTOCK</h1>
    <div class="imagenes">
      <img src="img/fiat.png" alt="">
      <img src="img/peugeot.png" alt="">
      <img src="img/mitsubishi.png" alt="">
      <img src="img/renault.png" alt="">
      <img src="img/ford.png" alt="">
      <img src="img/byd.png" alt="">
      <img src="img/nissan.png" alt="">
      <img src="img/jac.png" alt="">
      <img src="img/great.png" alt="">
    </div>
  </div>
