

  <div class="container">
    <h1>{{ titulo }}</h1>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-md-6 center-block"><img class="img-responsive img-rounded" src="img/fiat-logo.png" width="50%" alt=""></div>
      <div class="col-md-6 center-block"><img class="img-responsive img-rounded" src="img/fiat.png" alt=""> </div>
    </div>
       
  </div>
