<div class="login-container">
  <div class="login-contenido" id="login-contenido">
    <h4 class="login-title">Bienvenido</h4>
    <form action="/login" method="post">
      <input type="text" id="username" name="username" placeholder="username" />
      <input type="password" id="userpassword" name="password" placeholder="password" />
      <button class="login-button">Iniciar Sesi&oacute;n <i class="fa fa-sign-in"></i></button>
      {{#each errors}}
      <p class="alert alert-warning">{{this}}</p>
      {{/each}}
    </form>
  </div>
  
</div>

<script>
  $contenido = document.getElementById('login-contenido')
  setTimeout(() => {
    $contenido.classList.add('activo')
  }, 500)
</script>

