  <div class="container">
    <h1>{{titulo}}</h1>
    <p>&nbsp;</p>
    <div class="row">
     <form action="">
       <div class="form-group">
         <label for="fecha">Fecha</label>
         <input type="text" class="form-control" id="fecha" name="fecha">
       </div>
       <div class="form-group">
         <label for="comprador">Cliente</label>
         <input type="text" class="form-control" id="comprador" name="comprador">
       </div>
       <div class="form-group">
         <label for="importe">Importe</label>
         <input type="text" class="form-control" >
       </div>
       <input type="button" class="btn btn-default" value="Guardar">
     </form>
    </div>
  </div>
