<div class="row">
  <div class="col col-sm-12">
    <form class="form-horizontal" id="filtros">
      <h3>Filtros</h3>
      <div class="form-group">
        <label for="precio" class="col-sm-2">Precio</label>
        <div class="input-group col-sm-4">
        <div class="input-group-addon">Desde</div>
        <input type="text" name="desde" class="form-control" placeholder="0">
        <div class="input-group-addon">Hasta</div>
        <input type="text" class="form-control" name="hasta" placeholder="0">
      </div>
      </div>
      <div class="form-group">
        <label for="combustible" class="col-sm-2">Combustible</label>
        <div class="col-sm-4">
            <select type="text" name="combustible" id="combustible" class="form-control">
                <option value="N">Nafta</option>
                <option value="D">Diesel</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="cero" name="cero"> Nuevo
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tipo" class="col-sm-2">Tipo</label>
        <div class="col-sm-4">
          <select class="form-control" id="tipo" name="tipo">
            <option value="1">Auto</option>
            <option value="2">Camioneta</option>
            <option value="3">Camión</option>
            <option value="4">Moto</option>
            <option value="5">Triciclo</option>
            <option value="6">Cuatriciclo</option>
          </select>
        </div>
      </div>.

      <input type="submit" id="find-unidad" value="Buscar" class="btn btn-default">
    </form>
  </div>
</div>

<p>&nbsp;</p>
<div id="resultado">

</div>

<script>
  let form = document.getElementById('filtros')
  form.addEventListener('submit', async evt => {
    evt.preventDefault()
    let formData = new FormData(form)
    let res = await fetch('/unidades/filtrar', {
      method: 'post',
      body: formData
    })
    let response = await res.json()
    let texto = `<table class="table table-condensed table-striped">
                  <tr>
                    <th>Nro</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Precio</th>
                    <th>Sucursal</th>
                  <tr>`
          response.uns.forEach(u => {
            texto += `<tr>
                        <td><a href="/unidades/${u.id_unidad}">${u.id_unidad}</a></td>
                        <td>${u.marca}</td>
                        <td>${u.modelo}</td>
                        <td>${u.anio}</td>
                        <td>${u.precio}</td>
                        <td>${u.suc}</td>
                      </tr>`
          })
          texto += '<table>'
          document.getElementById('resultado').innerHTML = texto

  })
</script>
