<div class="row">
<div class="col col-sm-12">
<form class="form-inline">

    <div class="form-group">
      <label for="nro_motor">Nro. Motor</label>
        <input type="text" class="form-control" id="nro_motor" name="nro_motor">


      </div>

      <input type="button" id="find-historial" value="Buscar" class="btn btn-default">

</form>
</div>

</div>

<p>&nbsp;</p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Datos de la Unidad</h3>
  </div>
  <div id="panel-unidad" class="panel-body">
    Busque por nro de motor para ver los resultados aquí
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Historial</h3>
  </div>
  <div id="resultado" class="panel-body">

  </div>
</div>

<script>

  let btn = document.getElementById('find-historial')
  btn.addEventListener('click', buscar)
  function buscar() {

    let nro = document.getElementById('nro_motor').value



      fetch('/unidades/stockfull', {
        method: 'POST',
        body: JSON.stringify({nromotor: nro}),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function(response) {
          return response.json();
      })
      .then(data => {
        let obj = $('#resultado')
        let panel = $('#panel-unidad')
        panel.html(`MARCA: ${data.unidad.marca} - MODELO: ${data.unidad.modelo} - MATRÍCULA: ${data.unidad.matricula} - MOTOR: ${data.unidad.nro_motor}`)

        var elemento = '<table class="table table-striped table-condensed">'
        elemento += `<tr>
              <th>Fecha</th>
              <th>Sucursal</th>
              <th>Operación</th>
              </tr>`


        data.unidad.historia.forEach(h => {
          elemento += `<tr><td>${h.fecha}</td><td>${h.sucursal.nombre}</td><td>${h.operacion}</td></tr>`
        })
        elemento += `</table>`
        obj.html(elemento)
      })


  }
</script>
